{% extends 'base.html' %}
{% load pluralize_ru %}

{% block container %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">

      {% include "my-company-menu.html" %}

      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Вакансии</h2>
              {% for vacancy in vacancies %}
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a href="{% url 'my_company_vacancy_edit' vacancy.id %}" class="mb-1">{{ vacancy.title }}</a>
                      <p class="mb-1">
                        <span class="mr-4">От {{ vacancy.salary_min }}</span>
                        <a href="{% url 'my_company_vacancy_edit' vacancy.id %}#applications" class="text-info">{{ vacancy.applications.count|pluralize_ru:"отклик, отклика, откликов" }}</a>
                      </p>
                    </div>
                    <div class="col-6 col-lg-4 text-right">
                      <a href="{% url 'my_company_vacancy_edit' vacancy.id %}" class="btn btn-outline-info">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <a href="{% url 'my_company_vacancy_create' %}" class="btn btn-info my-2">Добавить вакансию</a>

            </section>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
